body {
    background-color: #fffbdf;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

.loginbox{
   width:  1000px;
   height: 500px;
   background-color:  #334443; 
   color: #fff;
   top: 50%;
   left: 50%;
   position: absolute;
   transform:  translate(-50%,-50%);
   padding: 70px 30px;
}
.logo{
width: 400px;
height: 150px;
border-radius: 50%;
position: absolute;
top: -75px;
left: calc(50% - 185px);
    }
h1{
   margin: 0;
   padding: 0 0 20px; 
   text-align: center;
   font-size: 50px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}


.loginbox input[type= "text"],input[type="password"]{
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 40px;
color: #fff;
font-size: 25px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #7276BA;
    color: #fff;
    font-size: 24px;
    border-radius: 20px;
    margin-left: 80%;
    margin-top: 2%;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #BBBEEC;
    color: black;
}
.loginbox a{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: darkgray;
    text-align: center;

}

.loginbox a:hover
{
    color:deepskyblue;
}

.mascotaDuenio{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;;
    display:block;
    border-radius: 5px;
    height: 40px;
    width: 90%;
    margin-top: 10px ;
    margin-bottom: 10px;
    margin-left: 0px;
    min-width: 150px;
}