<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login/Registro - Rescate de Patitas</title>

  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/formulario.css" />

  <!-- <link rel="stylesheet" href="css/bootstrap.css" /> -->
</head>


<body>


  <div class="loginbox">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Mascota perdida</h2>
      <img src="img/png.png" class="logo">
    </div>



    <form class="" action="/animalesPerdidos" method="POST" enctype="multipart/form-data" onsubmit="onSubmit(event)">
      <p>Nombre</p>
      <input type="text" name="nombre" placeholder="" required>

      <br />

      <p>Apellido</p>
      <input type="text" name="apellido" placeholder="" required>

      <br />

      <p>Fecha de Nacimiento</p>

      <br />
      <input type="date" class="dateofbirth" id="dateofbirth" name="fechaDeNacimiento" required>

      <p>Tipo Documento</p>
      <select name="tipoDocumento" class="formaNotificacion">
        <option value="DNI">DNI</option>
        <option value="LIBRETA_CIVICA">LIBRETA_CIVICA</option>
        <option value="PASAPORTE">PASAPORTE</option>
      </select>

      <p>Numero de documento</p>
      <input type="text" name="numeroDeDocumento" placeholder="" required>

      <!--<p>Descripcion</p>-->
      <!--<textarea name="descripcion" id="" cols="68" rows="10" style="margin: 0px; width: 490px; height: 90px;"></textarea>-->
      <div class="form-group">
        <label for="descripcion">Describa brevemente el estado en el que encontró la mascota:</label>
        <textarea class="form-control" rows="10" cols="66" id="descripcion" style="resize:none" name="descripcion"
          required></textarea>
      </div>

      <br />
      <div class="datoContactoBox">
        <p class="h3">Datos de contacto</p>
        <input type="hidden" name="datosDeContacto" id="datosDeContacto">

        <div>
          <div class="m-3">
            <button type="button" class="btn btn-success btn-block btn-sm" onclick="abrirModelCrear();">
              <i class="fas fa-plus"></i> Agregar datos de contacto
            </button>
          </div>
          <select class="form-control" id="datos" name="datos" size="3">
          </select>
          <button type="button" class="btn btn-danger btn-block btn-sm my-1" onclick="fnRemoverDatos();">Eliminar
            datos
            de contacto</button>
        </div>

      </div>
      <div class="form-group">
        <label for="fotos">Suba al menos una foto de la mascota encontrada</label>
        <input type="file" class="form-control-file" name="fotos" id="fotos" multiple="multiple" accept="image/*" value="Subir Fotos" required>
      </div>
      <br />
      <div>
        <div class="col-10" style="height: 400px;">
          <p>Seleccione en donde encontró a la mascota perdida</p>
          <br />
          <div id="search-container" class="input-group">

            <label for="pac-input"></label>
            <input id="pac-input" class="controls form-control text-dark" style="height: 34px; margin-bottom: 4px;" name="direc"
              type="text" autocomplete="one-time-code" placeholder="...">
            <div class="input-group-append">
              <span id="searchclear" class="glyphicon glyphicon-remove-circle input-group-text" style="height: 34px;"
                onclick="$('#pac-input').val('');">X</span>
            </div>
          </div>

          <div id="map" style="position: fixed !important; z-index: 9999"></div>

          <div>
            <b class="h4">Longitud: </b><label id="lblLongitud"></label>
            <input type="hidden" name="longitud" id="longitud">
          </div>
          <div>
            <b class="h4">Latitud: </b><label id="lblLatitud"></label>
            <input type="hidden" name="latitud" id="latitud">
          </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <p>Ingrese su direccion</p>
      <input type="text" name="direccion" placeholder="">
      <input type="submit" name="" value="  Reportar mascota  ">
    </form>

  </div>

  <div class="modal fade" id="datoDeContactoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="datoDeContactoTitle">Editar característica</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="divDatos">
              <div class="form-group">
                <input type="hidden" id="indexDatos">
                <input class="form-control" type="text" name="contName" id="contName"
                  placeholder="Ingresar Nombre y Apellido">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="contTel" id="contTel" placeholder="Ingresar Telefono">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="contMail" id="contMail" placeholder="Ingresar Email">
              </div>
              <p class="h4">Formas de Contacto</p>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="whatsapp" name="whatsapp">
                <label class="form-check-label" for="whatsapp"> Whatsapp</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="mail" name="mail">
                <label class="form-check-label" for="mail"> Email</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="sms" name="sms">
                <label class="form-check-label" for="sms"> SMS</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="aceptarModal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

  <script src="js/mapa.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=KEY_ACA&libraries=places&callback=initAutocomplete"
    async defer></script>

  <script src="js/datosdecontacto.js"></script>
</body>

</html>