<nav class="navbar navbar-expand-md">

  <!-- <a href="" class="navbar-brand ml-auto">
          <img src="png.png" alt="" class="logo form-inline" />
      </a> -->
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
    aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <img src="img/outline_reorder_black_24dp.png" alt="extender menu" height="40px" />
  </button>


  <div class="hover">
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <div class="navbar-nav">


        <a class="nav-link nav-item" href="/"><b> Inicio </b></a>

        <a class="nav-link nav-item" href="/registrarMascota"><b>Registrar Mascota</b></a>

        <a class="nav-link nav-item" href="/animalesPerdidos"><b>Animales Encontrados</b></a>

        <a class="nav-link nav-item" href="/adoptarMascota"><b>Adoptar Mascota</b></a>
        <a class="nav-link nav-item" href="/publicacionesAdoptantes"><b>Publicaciones de adoptantes</b></a>

        <a class="nav-link nav-item" href="/miPerfil">
          <img src="img/user.png" alt="usuario" class="icono" /><b>MiPerfil</b></a>

        <a class="nav-link nav-item" href="logout"><b>Salir</b></a>
        <a class="nav-link nav-item" href="/loginVoluntario"><b>Soy voluntario</b></a>
      </div>
    </div>
  </div>

</nav>