<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Login/Registro - Rescate de Patitas</title>
      <link rel="stylesheet" type="text/css" href="css/Preguntas_Orga.css">

  </head>

  <body>
    <div class="loginbox">
      <img src="img/png.png" class="logo">
      <br>
      <br>
        <form>
          <h1>Hacer publicacion para buscar una mascota</h1>
          <p> (*) Campo Obligatorio</p>
          <br>
            <h3>¿Usted Posee Patio?</h3>
            <input type="radio" name="patioValue" value="1">Si
            <br>
            <input type="radio" name="PatioValue" value="0">No
            <h3>¿Tiene Alguna preferencia con respecto al tamaño de su mascota?</h3>
            <input type="radio" name="tamanio" value="1">Pequeña
            <br>
            <input type="radio" name="tamanio" value="2">Mediana
            <br>
            <input type="radio" name="tamanio" value="3">Grande
            <br>
            <input type="radio" name="tamanio" value="0">Cualquiera
            <h3>¿Usted Tiene otras mascotas en su casa?</h3>
            <input type="radio" name="mascotasValue" value="1">Si
            <br>
            <input type="radio" name="mascotasValue" value="0">No
            <h3>¿Usted Posee Juguetes para mascotas?</h3>
            <input type="radio" name="patioValue" value="1">Si
            <br>
            <input type="radio" name="PatioValue" value="0">No
            <h3>¿Usted Tiene Conocimientos sobre el tipo de mascota que desea adoptar?</h3>
            <input type="radio" name="ConocimientosValue" value="1">Si
            <br>
            <input type="radio" name="ConocimientosValue" value="0">No
            <h3>¿Cuál es su disponibilidad para salir a pasear con su mascota?</h3>
            <input type="radio" name="paseoValue" value="3">Todos los dias
            <br>
            <input type="radio" name="paseoValue" value="2">5-3 veces a la semana
            <br>
            <input type="radio" name="paseoValue" value="1">Una vez a la semana
            <br>
            <input type="radio" name="paseoValue" value="0">Muy ocacionalmente
            <h3>¿Tiene Alguna preferencia con respecto al pelaje su mascota?</h3>
            <input type="radio" name="PelajeValue" value="1">Poco Pelaje
            <br>
            <input type="radio" name="PelajeValue" value="2">Mucho Pelaje
            <br>
            <input type="radio" name="PelajeValue" value="0">Cualquiera
            <h3>¿Qué tipo de Mascota desea?</h3>
            <input type="radio" name="energiaMascota" value="1">Mascota tranquila
            <br>
            <input type="radio" name="energiaMascota" value="2">Mascota Juguetona
            <br>
            <input type="radio" name="energiaMascota" value="0">Cualquiera
            <h3>¿Necesita que su mascota sea obediente?</h3>
            <input type="radio" name="obedienciaValue" value="1">Si
            <br>
            <input type="radio" name="obedienciaValue" value="0">No / no es importante

            <br>
          <h3>Descripcion * </h3>
          <textarea name="descripcion" cols="95" rows="10" placeholder="Describa la razon por la cual quiere adoptar una mascota"></textarea>
          <br>
          <br>
          <h3>Pregunta2</h3>
          <textarea name="texto" cols="95" rows="10" placeholder="Escribe aqui Su respuesta..."></textarea>
          <br>
          <br>
          <h3>Pregunta3</h3>
          <textarea name="texto" cols="95" rows="10" placeholder="Escribe aqui Su respuesta..."></textarea>
          <br>
          <br>
          <h3>Pregunta4</h3>
          <textarea name="texto" cols="95" rows="10" placeholder="Escribe aqui Su respuesta..."></textarea>
          <br>


          <input type="submit" name="" value="  Enviar Respuestas  ">

        </form>
    </div>
</body>
</html>
