<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login/Registro - Rescate de Patitas</title>
  <link rel="stylesheet" type="text/css" href="css/Register.css">
  <script src="js/register.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <div class="loginbox">
    <img src="img/png.png" class="logo">


    <h1>Registro</h1>
    <form name="registerForm" action="/register" method="POST" onsubmit="onSubmit()">
      <p>Nombre de Usuario</p>
      <input type="text" name="user" id="user" placeholder="Ingresar Usuario" autofocus required>
      <br>
      <p>Contraseña</p>
      <input type="password" name="pass" id="pass" placeholder="Ingresar Contraseña" required>
      <br>
      <p>Confirmar Contraseña</p>
      <input type="password" name="repass" id="repass" placeholder="Confirmar Contraseña" required>

      <p>Nombre y Apellido</p>
      <input type="text" name="nYA" id="nYA" placeholder="Ingresar Nombre y Apellido" required>
      <br>
      <p>Fecha de Nacimiento</p>

      <input type="date" name="nac" id="nac" class="dateofbirth" id="dateofbirth" required>

      <p>Tipo de documento: </p>
      <select name="tipoDocumento" id="tipoDocument" class="formaNotificacion">
        <option value="DNI">DNI</option>
        <option value="LIBRETA_CIVICA">LIBRETA_CIVICA</option>
        <option value="PASAPORTE">PASAPORTE</option>
      </select>

      <lab>Numero de documento</p>
        <input type="text" name="dni" id="dni" placeholder="Ingresar Número de Documento" required />

        <div class="datoContactoBox">
          <p class="h3">Datos de contacto</p>
          <input type="hidden" name="datosDeContacto" id="datosDeContacto">

          <div>
            <div class="m-3">
              <button type="button" class="btn btn-success btn-block btn-sm" onclick="abrirModelCrear();">
                <i class="fas fa-plus"></i> Agregar datos de contacto
              </button>
            </div>
            <select class="form-control" id="datos" name="datos" size="3">
            </select>
            <button type="button" class="btn btn-danger btn-block btn-sm my-1" onclick="fnRemoverDatos();">Eliminar
              datos
              de contacto</button>
          </div>

        </div>

        <button type="button" class="btn btn-success btn-lg mt-1" onclick="registrarUsuario()">Registrar</button>
    </form>

  </div>

  <div class="modal fade" id="datoDeContactoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="datoDeContactoTitle">Editar característica</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="divDatos">
              <div class="form-group">
                <input type="hidden" id="indexDatos">
                <input class="form-control" type="text" name="contName" id="contName"
                  placeholder="Ingresar Nombre y Apellido">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="contTel" id="contTel" placeholder="Ingresar Telefono">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="contMail" id="contMail" placeholder="Ingresar Email">
              </div>
              <p class="h4">Formas de Contacto</p>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="whatsapp" name="whatsapp">
                <label class="form-check-label" for="whatsapp"> Whatsapp</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="mail" name="mail">
                <label class="form-check-label" for="mail"> Email</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="sms" name="sms">
                <label class="form-check-label" for="sms"> SMS</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="aceptarModal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>
<script src="js/datosdecontacto.js"></script>

</html>